AZURE_OPENAI_API_KEY = "YOUR_KEY_HERE"
AZURE_OPENAI_O4M_API_KEY = "YOUR_KEY_HERE"

AZURE_OPENAI_TEXT_EMBEDDING3_KEY = "YOUR_KEY_HERE"

AZURE_OPENAI_ENDPOINT = "YOUR_ENDPOINT_HERE"
AZURE_OPENAI_O4M_ENDPOINT = "YOUR_ENDPOINT_HERE"